.bg {
  background: linear-gradient(180deg, rgba(153,204,255,1) 50%, rgba(166,128,184,1) 100%);
}
.rounded-corners-25 {
  border-radius: 25px;
}
.rounded-corners-5 {
  border-radius: 5px;
}
.square{
  padding-top: 100%;
}
/*scrollbar*/
::-webkit-scrollbar {
  height: 5px;
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background: #e3e3e3;
  border-radius: 5px;z
}
::-webkit-scrollbar-thumb:hover {
  background: #e3e3e3;
}
