/*background*/
.bg {
  /*background: linear-gradient(180deg, rgba(153,204,255,1) 50%, rgba(166,128,184,1) 100%);*/
  background-image: url('../assets/img/bg.jpg'); background-size: cover; background-position: center bottom;"
}

/*rounded corners*/
.rounded-corners-25 {
  border-radius: 25px;
}
.rounded-corners-5 {
  border-radius: 5px;
}
.rounded-left {
  border-radius: 5px 0px 0px 5px;
}
.rounded-right {
  border-radius: 0px 5px 5px 0px;
}

/*square dimensions*/
.square{
  padding-top: 100%;
}

/*centered*/
.float-centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
.text-centered{
  display: block;
  text-align: center;
}
.centered{
  display: block;
  margin: auto;
}
.centered-x {
  margin-left:50%;
  transform: translateX(-50%);
}

/*buttons*/
.btn-color {
  background-color: #24cb7f;
  border: 1px;
}
.btn-color:hover, .btn-color:focus, .btn-color:active {
  background-color: #20ab6c;
  border: none;
}

/*sidebar option*/
.sidebar-option {
  color: grey;
  background-color: white;
  border-color: grey;
  border-top: 1px;
  border-bottom: 1px;
  transition: 0.3s; /* animation */
}
.sidebar-option:hover {
  background-color: lightgrey;
  color: white;
  cursor: pointer;
}
.sidebar-option:focus {
  outline: none;
  background-color: lightgrey;
  color: white;
  cursor: pointer;
}

/*scrollbar*/
::-webkit-scrollbar {
  height: 5px;
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background: #e3e3e3;
  border-radius: 5px;z
}
::-webkit-scrollbar-thumb:hover {
  background: #e3e3e3;
}
::-webkit-scrollbar-track {
    margin-top: 20px;
    margin-bottom: 20px;
}
